{% extends "yourcfp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
      Welcome to the Leaderboard
    </thead>
    <th>Speaker</th>
    <th>Submitted Proposals</th>
    <th>Accepted Proposals</th>
    <th>Total Score</th>
    <th>Rank</th>
    {% for i in user_list %}
      <tr>
        <td><a href="{% url 'profiles:profile-detail' i.speaker.user.slug %}">{{ i.speaker.user.username }}</a></td>
        <td>{{ i.score_for_submission }}</td>
        <td>{{ i.score_for_accepted }}</td>
        <td>{{ i.total }}</td>
        <td>{{ forloop.counter }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock content %}
