{% extends "yourcfp/base.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'profiles:profile-detail' object.organizer.user.slug %}">{{ object.organizer }}</a>
      </div>
      <h2 class="article-title">{{ object.name }}</h2>
      <br>
      <p><strong>Description</strong> : {{ object.description }}</p>
      <p><strong>Start date</strong> : {{ object.start_date|date }}</p>
      <p><strong>End date</strong> : {{ object.end_date|date }}</p>
      <p><strong>Venue</strong> : {{ object.venue }}</p>
      <p><strong>Twitter</strong> : {{ object.twitter_id }}</p>
      <p><strong>Tags</strong>: {{ object.topic_tags.all|join:", " }}</p>
    </div>
  </article>
  {% if object.organizer == user.organizer %}
    <div>
      <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'events:conference-update' object.id object.slug %}">Update</a>
      <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'events:conference-proposal-list' object.id object.slug %}">List of submitted Proposals</a>
      <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'events:conference-dashboard' object.id object.slug %}">Go to Dashboard</a>
    </div>
  {% elif user.is_speaker %}
  <div>
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'events:proposal-create' object.id object.slug %}">Create Proposal</a>
  </div>
  {% endif %}
{% endblock content %}
