{% extends "yourcfp/base.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'profiles:profile_detail' object.organizer.user.slug %}">{{ object.organizer }}</a>
      </div>
      <h2 class="article-title">{{ object.name }}</h2>
      <p>description : {{ object.description }}</p>
      <p>start date : {{ object.start_date|date }}</p>
      <p>end date : {{ object.end_date|date }}</p>
      <p>venue : {{ object.venue }}</p>
      <p>twitter_id : {{ object.twitter_id }}</p>
      <p>Tags: {{ object.topic_tags.all|join:", " }}</p>
  </article>
  {% if object.organizer == user.organizer %}
    <div>
      <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'events:conference-update' object.id object.slug %}">Update</a>
      <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'events:conference-proposal-list' object.id object.slug %}">List of submitted Proposals</a>
    </div>
  {% elif user.is_speaker %}
  <div>
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'events:proposal-create' object.id object.slug %}">Create Proposal</a>
  </div>
  {% endif %}
{% endblock content %}
<!-- <body>
<h1>organizer name : {{ object.organizer }}</h1>
<p>conference name : {{ object.name }}</p>
<p>description : {{ object.description }}</p>
<p>start date : {{ object.start_date|date }}</p>
<p>end date : {{ object.end_date|date }}</p>
<p>venue : {{ object.venue }}</p>
<p>twitter_id : {{ object.twitter_id }}</p>
<br>
<a href="{% url 'events:conference-update' object.id object.slug %}">update view</a>
<br>
<a href="{% url 'events:conference-proposal-list' object.id object.slug %}">Show proposals</a>
</body>
 -->
